<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tanks</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tanks.length }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Dispensers</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dispensers.length }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <button
          class="btn btn-outline-secondary btn-block"
          data-toggle="modal"
          data-target="#tankModal"
        >Add Tank</button>
      </div>
      <div class="col-md-4">
        <button
          class="btn btn-outline-secondary btn-block"
          data-toggle="modal"
          data-target="#dispenserModal"
        >Add Dispenser</button>
      </div>

      <!-- The Modal -->
      <div class="modal fade" id="tankModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Tank</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form class="w-100 p-3" @submit.prevent="addTank">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name tank"
                    required
                    v-model="tankName"
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Serial Number"
                    required
                    v-model="tankSerial"
                  >
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    step="10"
                    min="0"
                    class="form-control"
                    placeholder="Capacity in litres"
                    required
                    v-model="tankCapacity"
                  >
                </div>

                <button class="btn btn-primary mb-3 float-left">Add Tank</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="dispenserModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Dispenser</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form @submit.prevent="addDispenser" class="w-100 p-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name Dispenser"
                    required
                    v-model="dispenserName"
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Serial Number"
                    required
                    v-model="dispenserSerial"
                  >
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    step="10"
                    min="0"
                    class="form-control"
                    placeholder="Capacity"
                    v-model="dispenserCapacity"
                  >
                </div>

                <button class="btn btn-primary mb-3 float-left">Add Dispenser</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Dashboard",
  data() {
    return {
      tankName: "",
      tankCapacity: "",
      tankSerial: "",
      dispenserName: "",
      dispenserCapacity: "",
      dispenserSerial: "",
      token: localStorage.getItem("token"),
      base_url: "",
      tanks: [],
      dispensers: []
    };
  },
  methods: {
    addTank() {
      const url = this.base_url + "tank/create?token=" + this.token;
      const data = {
        name: this.tankName,
        serial: this.tankSerial,
        capacity: this.tankCapacity
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          $("#tankModal").modal("toggle");
          this.tanks.push(res.data.data);
          toastr.success("Tank added");
          this.tankName = "";
          this.tankCapcity = "";
          this.tankSerial = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          loader.hide();
        });
    },
    addDispenser() {
      const url = this.base_url + "dispenser/create?token=" + this.token;
      const data = {
        name: this.dispenserName,
        serial: this.dispenserSerial,
        capacity: this.dispenserCapacity
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          this.dispensers.push(res.data.data);
          $("#dispenserModal").modal("toggle");
          toastr.success("Dispenser added");
          this.dispenserName = "";
          this.dispenserCapcity = "";
          this.dispenserSerial = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          $("#dispenserModal").modal("toggle");
          toastr.success("Dispenser added");
          this.dispenserName = "";
          this.dispenserCapcity = "";
          this.dispenserSerial = "";
          loader.hide();
        });
    },
    getTanks() {
      const url = this.base_url + "tank/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.tanks = res.data.data;
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    },
    getDispensers() {
      const url = this.base_url + "dispenser/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.dispensers = res.data.data;
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    }
  },
  mounted() {
    this.base_url = this.$store.state.base_url;
    this.getTanks();
    this.getDispensers();
  }
};
</script>