<template>
  <div class="w-100">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card table-responsive">
          <div class="card-header">
            <span class="font-weight-bold float-left">Dispensers</span>
            <button
              data-toggle="modal"
              data-target="#dispenserModal"
              class="float-right btn btn-outline-secondary"
            >Add Dispenser</button>
          </div>
          <div class="card-body">
            <table id="example" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Serial_number</th>
                  <th>Capacity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(dispenser,index) in dispensers" :key="index">
                  <td>{{ dispenser.name }}</td>
                  <td>{{ dispenser.serial_number }}</td>
                  <td>{{ dispenser.capacity }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-link dropdown-tggle" data-toggle="dropdown">
                        <span class="fa fa-ellipsis-h"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          href="#"
                          @click.prevent="deleteDispenser(dispenser.id)"
                          class="dropdown-item"
                        >
                          <span class="fa fa-trash"></span> Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal fade" id="dispenserModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add Dispenser</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form @submit.prevent="addDispenser" class="w-100 p-3">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name Dispenser"
                      required
                      v-model="dispenserName"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Serial Number"
                      required
                      v-model="dispenserSerial"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      step="10"
                      min="0"
                      class="form-control"
                      placeholder="Capacity"
                      v-model="dispenserCapacity"
                    >
                  </div>

                  <button class="btn btn-primary mb-3 float-left">Add Dispenser</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Dispenser",
  data() {
    return {
      dispensers: [],
      base_url: "",
      token: localStorage.getItem("token"),
      dispenserName: "",
      dispenserCapacity: "",
      dispenserSerial: "",
    };
  },
  methods: {
    getDispensers() {
      const url = this.base_url + "dispenser/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.dispensers = res.data.data;
          $(document).ready(function() {
            $("#example").DataTable();
          });
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    },
    addDispenser() {
      const url = this.base_url + "dispenser/create?token=" + this.token;
      const data = {
        name: this.dispenserName,
        serial: this.dispenserSerial,
        capacity: this.dispenserCapacity
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          this.dispensers.push(res.data.data);
          $("#dispenserModal").modal("toggle");
          toastr.success("Dispenser added");
          this.dispenserName = "";
          this.dispenserCapcity = "";
          this.dispenserSerial = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          $("#dispenserModal").modal("toggle");
          toastr.success("Dispenser added");
          this.dispenserName = "";
          this.dispenserCapcity = "";
          this.dispenserSerial = "";
          loader.hide();
        });
    },
    deleteDispenser(id) {
      const url =
        this.base_url + "dispenser/delete/" + id + "?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });

      this.$http({
        url: url,
        method: "DELETE"
      })
        .then(res => {
          this.dispensers.pop(res.data.data);
          toastr.success("Dispenser Deleted");
          $(document).ready(function() {
            $("#example").DataTable();
          });
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    }
  },
  mounted() {
    this.base_url = this.$store.state.base_url;
    this.getDispensers();
  }
};
</script>