<template>
  <div class="w-100">
    <div class="row justify-content-center mb-3">
      <div class="col-md-10">
        <div class="card table-responsive">
          <div class="card-header">
            <span class="font-weight-bold float-left">Tanks Daily Report</span>
            <button
              data-toggle="modal"
              data-target="#tankModal"
              class="float-right btn btn-outline-secondary"
            >Add Report</button>
          </div>
          <div class="card-body">
            <table id="example" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Tank</th>
                  <th>Product Left</th>
                  <th>Date</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr v-for="(tank,index) in tankReports" :key="index">
                  <td>#{{ tank.tank_id }}</td>
                  <td>{{ tank.product_left }} Litres </td>
                  <td>{{ tank.date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal fade" id="tankModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add tank Report</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form @submit.prevent="addTankReport" class="w-100 p-3">
                  <div class="form-group">
                    <label class="text-left float-left" for="selectTank">Select Tank</label>
                    <select name id="selectTank" v-model="tankId" class="form-control">
                      <option
                        :value="tank.serial_number"
                        v-for="(tank,index) in tanks"
                        :key="index"
                      >{{ tank.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      min="0"
                      step="10"
                      class="form-control"
                      placeholder="Product Left"
                      required
                      v-model="tankProduct"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      readonly
                      class="form-control date-for-upload"
                      placeholder="Date"
                      v-model="date"
                    >
                  </div>

                  <button class="btn btn-primary mb-3 float-left">Add Report</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card table-responsive">
          <div class="card-header">
            <span class="font-weight-bold float-left">Dispensers Daily Report</span>
            <button
              data-toggle="modal"
              data-target="#dispenserModal"
              class="float-right btn btn-outline-secondary"
            >Add Report</button>
          </div>
          <div class="card-body">
            <table id="example-2" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Dispenser</th>
                  <th>Product Sold</th>
                  <th>Date</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr v-for="(dispenser,index) in dispenserReports" :key="index">
                  <td>#{{ dispenser.dispenser_id }}</td>
                  <td>{{ dispenser.product_sold }} Litres </td>
                  <td>{{ dispenser.date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal fade" id="dispenserModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add dispenser</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form @submit.prevent="addDispenserReport" class="w-100 p-3">
                  <div class="form-group">
                    <label class="text-left float-left" for="selectdispenser">Select dispenser</label>
                    <select name id="selectdispenser" v-model="dispenserId" class="form-control">
                      <option
                        :value="dispenser.serial_number"
                        v-for="(dispenser,index) in dispensers"
                        :key="index"
                      >{{ dispenser.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      min="0"
                      step="10"
                      class="form-control"
                      placeholder="Product Sold"
                      required
                      v-model="dispenserProduct"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      readonly
                      class="form-control date-for-upload"
                      placeholder="Date"
                      v-model="date"
                    >
                  </div>

                  <button class="btn btn-primary mb-3 float-left">Add Report</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Report",
  data() {
    return {
      dispenserReports: [],
      tankReports: [],
      tanks : [],
      dispensers : [],
      base_url: "",
      token: localStorage.getItem("token"),
      tankProduct: "",
      tankId: "",
      dispenserProduct: "",
      dispenserId: "",
      date: "",
    };
  },
  methods: {
      getDispensers() {
      const url = this.base_url + "dispenser/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.dispensers = res.data.data;
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    },
    getTankReports() {
      const url = this.base_url + "report/tank/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.tankReports = res.data.data;
          loader.hide();
          $(document).ready(function() {
            $("#example").DataTable();
          });
        })
        .catch(err => {
          loader.hide();
        });
    },
    getDispenserReports() {
      const url = this.base_url + "report/dispenser/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.dispenserReports = res.data.data;
          loader.hide();
          $(document).ready(function() {
            $("#example-2").DataTable();
          });
        })
        .catch(err => {
          loader.hide();
        });
    },
    addDispenserReport() {
      const url = this.base_url + "report/dispenser/create?token=" + this.token;
      const data = {
        dispenser_id: this.dispenserId,
        product: this.dispenserProduct,
        date: this.date
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          this.dispenserReports.push(res.data.data);
          $("#dispenserModal").modal("toggle");
          toastr.success("Report added");
          this.dispenserId = "";
          this.dispenserProduct = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          $("#dispenserModal").modal("toggle");
          this.dispenserId = "";
          this.dispenserProduct = "";
          loader.hide();
        });
    },
    addTankReport() {
      const url = this.base_url + "report/tank/create?token=" + this.token;
      const data = {
        tank: this.tankId,
        product: this.tankProduct,
        date: this.date
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          this.tankReports.push(res.data.data);
          $("#tankModal").modal("toggle");
          toastr.success("Report added");
          this.tankId = "";
          this.tankProduct = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          $("#tankModal").modal("toggle");
          this.tankId = "";
          this.tankProduct = "";
          loader.hide();
        });
    },
    getTanks() {
      const url = this.base_url + "tank/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.tanks = res.data.data;
          
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    },
    deleteTank(id) {
      const url =
        this.base_url + "tank/delete/" + id + "?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });

      this.$http({
        url: url,
        method: "DELETE"
      })
        .then(res => {
          this.tanks.pop(res.data.data);
          toastr.success("Tank Deleted");
          $(document).ready(function() {
            $("#example").DataTable();
          });
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    }
  },
  mounted() {
    this.base_url = this.$store.state.base_url;
    this.getTanks();
    this.getDispensers();
    this.getTankReports();
    this.getDispenserReports();
    Date.prototype.toDateInputValue = function() {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    };
    this.base_url = this.$store.state.base_url;
    this.getTanks();
    this.date = new Date().toDateInputValue();
  }
};
</script>