<template>
  <div class="w-100">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card table-responsive">
          <div class="card-header">
            <span class="font-weight-bold float-left">Tanks</span>
            <button
              data-toggle="modal"
              data-target="#tankModal"
              class="float-right btn btn-outline-secondary"
            >Add Tank</button>
          </div>
          <div class="card-body">
            <table id="example" class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Serial_number</th>
                  <th>Capacity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(tank,index) in tanks" :key="index">
                  <td>{{ tank.name }}</td>
                  <td>{{ tank.serial_number }}</td>
                  <td>{{ tank.capacity }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-link dropdown-tggle" data-toggle="dropdown">
                        <span class="fa fa-ellipsis-h"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          href="#"
                          @click.prevent="deleteTank(tank.id)"
                          class="dropdown-item"
                        >
                          <span class="fa fa-trash"></span> Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal fade" id="tankModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add tank</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form @submit.prevent="addTank" class="w-100 p-3">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name tank"
                      required
                      v-model="tankName"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Serial Number"
                      required
                      v-model="tankSerial"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      step="10"
                      min="0"
                      class="form-control"
                      placeholder="Capacity"
                      v-model="tankCapacity"
                    >
                  </div>

                  <button class="btn btn-primary mb-3 float-left">Add tank</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Tank",
  data() {
    return {
      tanks: [],
      base_url: "",
      token: localStorage.getItem("token"),
      tankName: "",
      tankCapacity: "",
      tankSerial: "",
    };
  },
  methods: {
    getTanks() {
      const url = this.base_url + "tank/all?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });
      this.$http({
        url: url
      })
        .then(res => {
          this.tanks = res.data.data;
          $(document).ready(function() {
            $("#example").DataTable();
          });
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    },
    addTank() {
      const url = this.base_url + "tank/create?token=" + this.token;
      const data = {
        name: this.tankName,
        serial: this.tankSerial,
        capacity: this.tankCapacity
      };

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex : 9999
      });
      this.$http({
        url: url,
        data: data,
        method: "POST"
      })
        .then(res => {
          this.tanks.push(res.data.data);
          $("#tankModal").modal("toggle");
          toastr.success("Tank added");
          this.tankName = "";
          this.tankCapcity = "";
          this.tankSerial = "";
          loader.hide();
        })
        .catch(err => {
          toastr.error("error occured");
          $("#tankModal").modal("toggle");
          this.tankName = "";
          this.tankCapcity = "";
          this.tankSerial = "";
          loader.hide();
        });
    },
    deleteTank(id) {
      const url =
        this.base_url + "tank/delete/" + id + "?token=" + this.token;

      const loader = this.$loading.show({
        backgroundColor: "#000000",
        opacity: 0.5,
        zIndex: 9999
      });

      this.$http({
        url: url,
        method: "DELETE"
      })
        .then(res => {
          this.tanks.pop(res.data.data);
          toastr.success("Tank Deleted");
          $(document).ready(function() {
            $("#example").DataTable();
          });
          loader.hide();
        })
        .catch(err => {
          loader.hide();
        });
    }
  },
  mounted() {
      Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });
    this.base_url = this.$store.state.base_url;
    this.getTanks();
    console.log(new Date().toDateInputValue())
  }
};
</script>