<template>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user">
                  <div v-if="$v.form.$error">
                    <span
                      class="text-danger text-bold"
                      v-if="!$v.form.email.required"
                    >* Email is required</span>
                    <span
                      class="text-danger text-bold"
                      v-if="!$v.form.email.email"
                    >* Email must be a valid email address</span>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      aria-describedby="emailHelp"
                      placeholder="Enter Email Address..."
                      :class="{ 'has-error': $v.form.email.$error }"
                      v-model="form.email"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Password"
                      :class="{ 'has-error': $v.form.password.$error }"
                      v-model="form.password"
                    >
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <a @click.prevent="processLogin()" href="#" class="btn btn-primary btn-user btn-block">Login</a>
                  <hr>
                </form>
                <div class="text-center">
                  <router-link class="small" to="register">Create an Account!</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
  name: "Login",
  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },
  validations: {
    form: {
      email: { required, email },
      password : { required,minLength : minLength(5) }
    }
  },
  methods: {
    processLogin() {
      this.$v.form.$touch();
      if (this.$v.form.$error) return;

      let loader = this.$loading.show({
        backgroundColor: "#000000",
        zIndex: 99999
      });
      let email = this.form.email;
      let password = this.form.password;
      this.$store
        .dispatch("login", { email, password })
        .then(() => {
          location.replace(location);
          loader.hide();
        })
        .catch(err => {
          loader.hide();
          var errorObj = err.response.data.errors;
          var errorSingle = err.response.data.error

          toastr.error(errorSingle, "", 4000);

          for (const key in errorObj) {
            if (errorObj.hasOwnProperty(key)) {
              toastr.error(errorObj[key], "", { timeOut: 4000 });
            }
          }
          // this.$swal.fire({
          //   text: "Invalid Credentials",
          //   type: "error"
          // });
        });
    }
  },
  mounted() {
    const token = localStorage.getItem("token");
    const user = this.$cookies.get("user");
    if (token) {
      this.$router.push("dashboard");
    }
  }
};
</script>
<style scoped>
template {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}
.bg-login-image {
  background-image: url("https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg") !important;
}
.has-error {
    border: 1px solid red !important;
}
</style>
