<template>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user">
                  <div class="alert alert-danger" v-if="$v.form.$error">Form has errors</div>
                  <div v-if="$v.form.$error" class="text-left">
                  <span
                      class="text-danger text-bold "
                      v-if="!$v.form.name.required"
                    >* Name is required</span>

                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleFirstName"
                        placeholder="Full name"
                        v-model="form.name"
                        :class="{'has-error': $v.form.name.$error}"
                        
                      >
                    </div>
                  </div>
                  
                    
                  <div v-if="$v.form.$error" class="text-left">
                    <span
                      class="text-danger text-bold text-left"
                      v-if="!$v.form.email.required"
                    >* Email is required</span>
                    <span
                      class="text-danger text-bold"
                      v-if="!$v.form.email.email"
                    >* Email must be a valid email address</span>
                  
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      placeholder="Email Address"
                      v-model="form.email"
                      :class="{'has-error': $v.form.email.$error}"
                    >
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div v-if="$v.form.$error" class="text-left">
                        <span
                          class="text-danger text-bold text-left"
                          v-if="!$v.form.password.required"
                        >* Password is required</span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                        v-model="form.password"
                        :class="{'has-error': $v.form.password.$error}"
                      >
                    </div>
                    <div class="col-sm-6">
                      <div v-if="$v.form.$error">
                        <span
                          class="text-danger text-bold text-left"
                          v-if="!$v.form.password2.sameAs"
                        >* Passwords don't match</span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleRepeatPassword"
                        placeholder="Repeat Password"
                        v-model="form.password2"
                        :class="{'has-error': $v.form.password2.$error}"
                      >
                    </div>
                  </div>
                  <a  @click.prevent="processRegister()" href="#" class="btn btn-primary btn-user btn-block">Register Account</a>
                  <hr>
                </form>
                <div class="text-center">
                  <router-link class="small" to="login">Already have an account? Login!</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Register",
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
        password2: ""
      },
      url: ""
    };
  },
  validations: {
    form: {
      name: { required },
      email: { required, email },
      password: { required, minLength: minLength(8) },
      password2: { sameAs: sameAs("password") }
    }
  },
  methods: {
    processRegister(e) {
      this.$v.form.$touch();
      if (this.$v.form.$error) return;

      let loader = this.$loading.show({
        backgroundColor: "#000000",
        zIndex: 99999
      });

      const data = {
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
        type: this.form.type
      };

      this.$store
        .dispatch("register", data)
        .then(() => {
          location.replace(location);
          loader.hide();
        })
        .catch(err => {
          // console.log(err.response);
          var errorObj = err.response.data.errors;

          for (const key in errorObj) {
            if (errorObj.hasOwnProperty(key)) {
              toastr.error(errorObj[key], "", { timeOut: 4000 });
            }
          }
          loader.hide();
        });
    }
  },
  mounted() {
    this.url = this.$store.state.base_url + "auth/register";
    const token = localStorage.getItem("token");
    const user = this.$cookies.get("user");
  
    if (token) {
      this.$router.push("dashboard");
    }
  }
};
</script>
<style scoped>
.bg-register-image {
  background: url("https://images.pexels.com/photos/1043506/pexels-photo-1043506.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
  background-position: center !important;
  background-size: cover !important;
}

.text-bold{
  font-weight: bold;
}

</style>
